<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS | Faculty Portal</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="msapplication-TileColor" content="#da532c">
</head>
<body>
    <main>           
        <div class="box">   
            <div class="inner-box">    
                <div class="forms-wrap">
                    <form action="{{ url_for('faculty_api.login') }}" name="form" method="POST" autocomplete="off" class="sign-in-form">
                        <div class="logo">
                            <img src="../img/CMS.jpg" alt="">
                            <h1>SASS</h1>
                        </div>

                        <div class="actual-form">                           
                            <div class="input-wrap-text">
                                <input id="email" type="email" name="email" class="input-field" autocomplete="off" required>
                                <label>Enter your Username</label>
                            </div>
                            <div class="input-wrap">
                                <input type="password" maxlength="20" name="pass" class="input-field" autocomplete="off" required>
                                <label>Password</label>
                            </div>
                            <p class="text text-password">
                               <a href="../Faculty/forgotpassword">Forgot Password?</a>
                            </p>
                            <input class="sign-btn btn btn-danger" id="btn" type="submit" name="submit" value="Sign-in">
                            {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="messages text-red-500">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
                            <p class="text">
                                By signing up, I agree to the PUP Online Services
                                <a href="https://www.pup.edu.ph/terms/" target="_blank" rel="noopener noreferrer">Terms of Services</a> and
                                <a href="https://www.pup.edu.ph/privacy/" target="_blank" rel="noopener noreferrer">Privacy Statement</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="carousel">
                    <div class="images-wrapper">
                        <img src="../img/complaints.png" class="image img-1 show" alt="complaints">
                        <img src="../img/school.jpg" class="image img-2" alt="">
                        <img src="../img/pup.jpg" class="image img-3" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>    
    <script src="/static/js/base.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
