<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Academic Support System</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SASS</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Application for Overload of Subjects</a></li>
                <li class="dropdown-submenu">
                  <a href="#" class="more-btn">Change of Enrollment <i class="fas fa-angle-right"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Adding of Subjects</a></li>
                    <li><a href="#">Change of Schedule/Subjects</a></li>
                  </ul>
                </li>
                <!-- Add other dropdown items here -->
              </ul>
            </li>
            <li><a href="#">Qwerty</a></li>
            <li><a href="#">Asdfg</a></li>
        </ul>
    </div>
</nav>

<div class="row">
  <div class="column side" style="background-color:#aaa;">Column</div>
  <div class="column middle" style="background-color:#bbb;">Column</div>
  <div class="column side" style="background-color:#ccc;">Column</div>
</div>
<div class="footer">
  <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> 
      <a href="https://www.pup.edu.ph/" target="_blank" rel="noopener noreferrer">Polytechnic University of the Philippines</a> |  
      <a href="https://www.pup.edu.ph/terms/" target="_blank" rel="noopener noreferrer">Terms of Use</a>  | 
      <a href="https://www.pup.edu.ph/privacy/" target="_blank" rel="noopener noreferrer">Privacy Statement</a></p>
</div>
<!-- Rest of your content goes here -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>






