<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Academic Support System</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <header>
        <a href="#" class="logo">SASS</a>
        <div class="navigation">
            <ul class="menu">
                <li class="menu-item"><a href="{{ url_for('index') }}">Home</a></li>
                
                <li class="menu-item">
                    <a class="sub-btn" href="#">Services</a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Application for Overload of Subjects</a></li>
                        <li class="sub-item more"> 
                            <a class="more-btn" href="#">Change of Enrollment <i class="fas fa-angle-right"></i></a>
                            <ul class="more-menu">
                                <li class="more-item"> <a href="#">Adding of Subjects</a></li>
                                <li class="more-item"> <a href="#">Change of Schedule/Subjects</a></li>
                             </ul>
                        </li>
                        <li class="sub-item"><a href="#">Correction of Grade Entry</a></li>
                        <li class="sub-item"><a href="#">Application for Cross-Enrollment</a></li>
                        <li class="sub-item"><a href="#">Application for Shifting</a></li>
                        <li class="sub-item"><a href="#">Manual Enrollment</a></li>
                        <li class="sub-item"><a href="#">Online Petition of Subjects</a></li>
                        <li class="sub-item"><a href="#">Correction of Grade Entry</a></li>
                        <li class="sub-item"><a href="#">Online Request for Tutorial of Subjects</a></li>
           <!----            <li class="sub-item more">
                             <a class="more-btn" href="#">More Item <i class="fas fa-angle-right"></i></a>
                             <ul class="more-menu">
                                <li class="more-item"> <a href="#">Services</a></li>
                                <li class="more-item"> <a href="#">Services</a></li>
                             </ul>
                        </li> -->
                    </ul>
                </li>
               
                <li class="menu-item">
                    <a class="sub-btn" href="#">Academic</a>
                    <ul class="sub-menu">
                        <li class="sub-item"> <a href="#">1</a></li>
                        <li class="sub-item"> <a href="#">2</a></li>
                        <li class="sub-item"> <a href="#">3</a></li>                       
                    </ul>
                </li>
               
                <li class="menu-item">
                    <a class="sub-btn" href="#">Accessibility</a>
                    <ul class="sub-menu">
                        <li class="sub-item"> <a href="#">1</a></li>
                        <li class="sub-item"> <a href="#">2</a></li>
                        <li class="sub-item"> <a href="#">3</a></li>   
                    </ul>
                </li>
             
                <li class="menu-item">
                    <a class="sub-btn" href="#">Programs</a>
                    <ul class="sub-menu">
                        <li class="sub-item"> <a href="#">1</a></li>
                        <li class="sub-item"> <a href="#">2</a></li>
                        <li class="sub-item"> <a href="#">3</a></li>
                    </ul>
                </li>
               
                <li class="menu-item">
                    <a class="sub-btn" href="#"> <i class="fa-solid fa-user-lock"></i> Log-in</a>
                    <ul class="sub-menu">
                        <li class="sub-item"> <i class="fa-solid fa-user-graduate"></i><a href="{{ url_for('student_login') }}">Student</a></li>
                        <li class="sub-item"> <i class="fa-solid fa-user-gear"></i><a href="/templates/faculty/portal.html">Admin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

<div class="Box">
    <div class="box1">    
    </div>
    <div class="box1">
    <canvas id="myGraph"></canvas>
    </div> 
</div>

<div class="footer">
    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> 
        <a href="https://www.pup.edu.ph/" target="_blank" rel="noopener noreferrer">Polytechnic University of the Philippines</a> |  
        <a href="https://www.pup.edu.ph/terms/" target="_blank" rel="noopener noreferrer">Terms of Use</a>  | 
        <a href="https://www.pup.edu.ph/privacy/" target="_blank" rel="noopener noreferrer">Privacy Statement</a></p>
</div>

    

   <script>
        $(document).ready(function(){
            $(".sub-btn").click(function(){
                $(this).next(".sub-menu").slideToggle();
            });
        });

    </script>
  

</body>
</html>






